<h1>WELL HELLO INTERNET</h1>
<br />
<h2>User Homepage</h2>
<p>Users projects should appear below</p>

<br/>

<% if (params.has_key?(:id) && params.has_key?(:random)) %>
    <%= "id: #{params[:id]}" %> <br/>
    <%= "random: #{params[:random]}" %> <br/>
<% end %>
