<h1>Board#index</h1>
<p>Find me in app/views/board/index.html.erb</p>
<h1>WELL HELLO INTERNET</h1>
<%= "message from controller: #{@controller_message}" %>
<br />
<%= link_to("go to index", {:controller => 'board', :action => 'index'}) %>
<br />
<!-- because  they're in the same view container as sample -->
<%= link_to("go to index", {:action => 'index'}) %>
<br/>
<%= link_to("go to index with params", {:action => 'index', :id => 5, :random => "randstuff"}) %>
