<h1>Boards</h1>

<p>(there are going to be boards here)</p>

<% if (params.has_key?(:id) && params.has_key?(:random)) %>
    <%= "id: #{params[:id]}" %> <br/>
    <%= "random: #{params[:random]}" %> <br/>
<% end %>

<%= link_to "Create new board", newboard_path %>
