<h1><%= @board.name %></h1>

<!-- <dialog class='modal'>
  <p>Greetings, one and all!</p>
</dialog>
<button onclick="function(){modal.style.display = 'block';}">I AM A BUTTON</button> -->
<%= link_to 'Invite user', invite_path %>
</br></br>
<%= link_to 'Return to boards', boards_path %>
