<h1>(Board Name Goes Here)</h1>


<!-- <dialog class='modal'>
  <p>Greetings, one and all!</p>
</dialog>
<button onclick="function(){modal.style.display = 'block';}">I AM A BUTTON</button> -->
<%= link_to 'Invite User', invite_path %>
