<h1><%= @board.name %></h1>

<!-- <dialog class='modal'>
  <p>Greetings, one and all!</p>
</dialog>
<button onclick="function(){modal.style.display = 'block';}">I AM A BUTTON</button> -->
<%= link_to 'Manage members', invite_path %>
</br></br>
<%= link_to 'Add story to product backlog', newstory_path %>
</br></br>
<%= link_to 'Return to boards', boards_path %>
