/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: 'Fira Sans', sans-serif;
    color: rgb(51, 51, 51);
    background: rgb(230, 230, 230);
}

header {
    width:calc(100%-33px);
    color: white;
    margin: -33px -33px 0px -33px;
    padding: 21px;
    /*background-color: #56a7bf;*/
    background-color: rgb(186, 63, 63);
    font-size: 32px;
    font-weight: 900;
}

header span {
  float:right;
  font-size:20px;
  font-weight: bold;
}

header span a {
  text-decoration:none;
  color: white;
}

header span a:visited {
  color: white;
}

header span a:hover {
  text-decoration: underline;
}

header a:hover {
  background-color:inherit;
}

.user-table .user {
    padding: 3px;
}

.alert {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: white;
}

 .alert-success {
     background-color: rgb(78, 180, 78);
 }

 .alert-danger {
     background-color: rgb(255, 110, 110);
 }

.field_with_errors {
    background-color: rgb(255, 110, 110);
}
