/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */



.text-fa {
    float: right;
    color: rgb(51, 51, 51);
}
.text-fa:hover {
    text-decoration: underline;
}


body {
    font-family: 'Fira Sans', sans-serif;
    color: rgb(51, 51, 51);
    background: rgb(16, 34, 71);
    /*background-image: url("blue_geometric.png");*/
}

header {
    width:calc(100%-33px);
    margin: -33px -33px 0px -33px;
    padding: 21px;
    /*color: rgb(186, 63, 63);*/
    color: white;
    /*background-color: rgb(16, 34, 91);*/
    font-size: 32px;
    font-weight: 900;
    background-image: url("blue_geometric.png");
}

header span {
  float:right;
  font-size:20px;
  font-weight: bold;
}

header span a {
  text-decoration:none;
  color: white;
}

header span a:visited {
  color: white;
}

header span a:hover {
  text-decoration: underline;
}

header a:hover {
  background-color:inherit;
}

input[type="submit"] {
    background-color: rgb(84, 106, 214);
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: rgb(120, 120, 230);
}


input[type="submit"]:active {
    background-color: rgb(148, 148, 255);
}
input[type="text"] {
    width: 150px;
    height:30px;
    border-radius: 4px;
    border: 1px solid #ccc;
    /*background-color: rgba(255,255,255,.01);*/
}
input[type="password"] {
    width: 150px;
    height:30px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
textarea {
    width: 270px;
    height: 50px;
    border-radius: 2px;
}
/*footer {
  position:relative;
  margin: 0 auto -60px;
  height:60px;
  padding: 21px;
  color:white;
  background-color: red;
}*/

.user-table .user {
    padding: 3px;
}

.alert {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 5px;
    margin-top: 10px;
    color: white;
}

 .alert-success {
     background-color: rgb(78, 180, 78);
 }

 .alert-danger {
     background-color: rgb(255, 110, 110);
 }

.field_with_errors {
    background-color: rgb(255, 110, 110);
}
.new_session_header {
  width:calc(100%-33px);
  margin: -33px -33px 0px -33px;
  padding: 21px;
  color: white;
  background-color: rgb(16, 37, 91);
  font-size: 32px;
  font-weight: 900;
}
.new_session_body {
  font-family: 'Fira Sans', sans-serif;
  color: rgb(51, 51, 51);
  /*background: rgb(94, 95, 114);*/
  background-image: url("blue_geometric.png");
}
