// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
    background-color: white;
    color: rgb(51, 51, 51);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 3px;
}

.cards {
    min-height: 50px;
}

.board {
    width: 400px;

    .name {
        font-size: 18px;
        font-weight: bold;
    }

    .name, .description {
        text-decoration: none;
    }
}

.boards a {
    text-decoration: none;
}

.boards a:hover .name {
    text-decoration: underline;
}

.column {
    float: left;
    width: 18%;
    border-style: solid;
    border-width: 1%;
    border-color: rgb(200, 200, 200);
    border-radius: 3px;
    padding: .4%;
    margin: .3%;
    background: rgb(200, 200, 200);
}

.column h2 {
    margin: 5px;
}

.column .card {
    margin-top: 10px;
}
.column .card .info {
    margin: 2px 0px;
}

.boardActions {
    width:100%;
    display:inline-block;
    // margin:1.3%;
}
.boardTitle {
    float:left;
    display:inline-block;
    align-self:left;
}
.singularAction {
    text-decoration:none;
    float:right;
    font-size:1.2em;
    margin:inherit;
    display:inline-block;
    align-self:right;
    line-height: 53px;
    margin-left: 1.3%;
}
