// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dialog {
    display: none;
}

.card {

    border: 2px solid #ccc;
    background-color: white;
    color: rgb(51, 51, 51);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 3px;

    input[type="submit"] {
        background-color: white;
        color: rgb(84, 106, 214);
        border: 2px solid rgb(84, 106, 214);
        padding: 5px 11px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 3px;
        float:right;
        margin: 0px 5px;
    }

    input[type="submit"]:hover {
        background-color: rgb(210, 210, 255);
    }

    input[type="submit"]:active {
        background-color: rgb(235, 235, 255);
    }

}
.task {
    background-color: rgb(163, 192, 155);
    color: rgb(51, 51, 51);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;

    input[type="submit"] {
        background-color: white;
        color: rgb(84, 106, 214);
        border: 2px solid rgb(84, 106, 214);
        padding: 5px 11px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 3px;
        float:right;
        margin: 0px 5px;
    }

    input[type="submit"]:hover {
        background-color: rgb(210, 210, 255);
    }

    input[type="submit"]:active {
        background-color: rgb(235, 235, 255);
    }

}

.cards {
    min-height: 50px;
}

.board {
    width: 700px;
    // text-align: center;
    margin:auto;

    .name {
        font-size: 18px;
        font-weight: bold;
        // float: left;
    }

    .name, .info {
        text-decoration: none;
    }
}

.boards a {
    text-decoration: none;
    // color: lightgrey;
}
.boards a:visited {
    text-decoration: none;
    color:white;
}

.boards a:hover .name {
    text-decoration: underline;
    // color:red;
}


.column {
    float: left;
    width: 18%;
    border-style: solid;
    border-width: 1%;
    border-color: darkgrey;
    border-radius: 3px;
    padding: .4%;
    margin: 15px .3% .3% .3%;
    background: lightgrey;
    color:(50,50,50);
}

.column h2 {
    margin: 5px;
}

.column .card {
    margin-top: 10px;
}
.column .card .info {
    margin: 2px 0px;
}

.boardActions {
    width:100%;
    display:inline-block;
    text-align:center;
}

.singularAction {
    font-size:1.45em;
    margin:inherit;
    display:inline-block;
    line-height: 53px;
    margin-left: 1.3%;
}
.singularAction a {
    color:white;
}
.singularAction a:visited {
    color:white;
}

input.singularAction {
    line-height: 18px;
    font-size: 15px;
}


.invite_wrapper {
    color: black;
    background: white;
    display: grid;
    margin: 5px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
}
.invite_new_box {
    text-align:left;
    padding-left: 20%;
    padding-top: 4%;
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 10%;
}
.current_users_box {
    padding-top: 4%;
    padding-left: 5%;
    grid-column: 2;
    grid-row: 1;
}
.pending_invites_box {
    padding-left: 20%;
    margin-top: 20%;
    grid-column: 1;
    grid-row: 2;
}
.return_link_box {
    grid-column: 1;
    grid-row: 3;
    padding-left: 25%;
    padding-top: 50px;
}

.story_wrapper {
    margin-left:5%;
}

// .story_input {
//
// }

a {
    color:lightgrey;
}
a:visited {
    color:lightgrey;
}

th, td {
    // padding: 5px 30px 7px 30px;
}

th {
    // align: left;
    text-align: left;
    padding: 5px 35px 7px 0px;
}
