// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dialog {
    display: none;
}

.card {

    border: 2px solid #ccc;
    background-color: white;
    color: rgb(51, 51, 51);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 3px;

    input[type="submit"] {
        background-color: white;
        color: rgb(84, 106, 214);
        border: 2px solid rgb(84, 106, 214);
        padding: 5px 11px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 3px;
        float:right;
        margin: 0px 5px;
    }

    input[type="submit"]:hover {
        background-color: rgb(210, 210, 255);
    }

    input[type="submit"]:active {
        background-color: rgb(235, 235, 255);
    }

}
.task {
    background-color: rgb(163, 192, 155);
    color: rgb(51, 51, 51);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;

    input[type="submit"] {
        background-color: white;
        color: rgb(84, 106, 214);
        border: 2px solid rgb(84, 106, 214);
        padding: 5px 11px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 3px;
        float:right;
        margin: 0px 5px;
    }

    input[type="submit"]:hover {
        background-color: rgb(210, 210, 255);
    }

    input[type="submit"]:active {
        background-color: rgb(235, 235, 255);
    }

}

.cards {
    min-height: 50px;
}

.board {
    width: 700px;
    // text-align: center;
    margin:auto;

    .name {
        font-size: 18px;
        font-weight: bold;
        // float: left;
    }

    .name, .info {
        text-decoration: none;
    }
}

.boards a {
    text-decoration: none;
}

.boards a:hover .name {
    text-decoration: underline;
}

a {
    color:red;
    text-decoration:none;
}
a:visited {
    color:red;
    text-decoration:none;
}

.column {
    float: left;
    width: 18%;
    border-style: solid;
    border-width: 1%;
    border-color: darkgrey;
    border-radius: 3px;
    padding: .4%;
    margin: 15px .3% .3% .3%;
    background: lightgrey;
    color:(50,50,50);
}

.column h2 {
    margin: 5px;
}

.column .card {
    margin-top: 10px;
}
.column .card .info {
    margin: 2px 0px;
}

.boardActions {
    width:100%;
    display:inline-block;
    text-align:center;
    // border-bottom: 1px solid grey;
    // margin:1.3%;
}
.pageTitle {
    // float:left;
    display:inline-block;
    // align-self:left;
}

.singularAction {
    text-decoration:none;
    // float:right;
    font-size:1.45em;
    margin:inherit;
    display:inline-block;
    // align-self:right;
    line-height: 53px;
    margin-left: 1.3%;
}



.invite_wrapper {
    color: black;
    background: white;
    display: grid;
    width:100%;
    height:100%;
    // position:absolute;
    // top: 20%;
    // left: 10%;
    // right: 10%;
    // bottom: 20%;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 2fr);
    grid-row-gap: 10px;
    grid-column-gap:10px;
}
.invite_new_box {
    text-align:left;
    padding-left: 80px;
    padding-top: 25px;
    // border-right: 1px solid black;
    grid-column: 1;
    grid-row: 1;
}
.invite_button_box {
    grid-column: 1;
    grid-row: 2;
    margin-top: 25px;
    text-align:left;
    margin-left: 80px;
}
.current_users_title {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-top: 25px;
}
.current_users_box {
    grid-column: 2;
    grid-row: 2;
}
.pending_invites_box {
    grid-column: 2;
    grid-row: 2;
    margin-top:60px;
    margin-left: 60px;
}

// a {
//     color:lightgrey;
// }

th, td {
    // padding: 5px 30px 7px 30px;
}

th {
    // align: left;
    text-align: left;
    padding: 5px 35px 7px 0px;
}
