// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.registration_wrapper {
  background-color: rgba(240,240,240, .7);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  display: grid;
  position: absolute;
  top: 20%;
  left: 25%;
  right: 25%;
  bottom: 12%;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap:10px;
  text-align: center;
}
.registration_title {
  font-size: 33px;
  text-align: center;
  grid-column: 2;
  grid-row: 1;
  padding-top:30px;
  padding-bottom:15px;
}
.registration_username_label {
  // text-align:right;
  margin-top: 7px;
  padding-left: 150px;
  grid-column:1;
  grid-row:2;
}
.registration_username_box  {
  // font-size: 1.1em;
  // margin-top: 5px;
  // margin: 5px;
  grid-column: 2;
  grid-row: 2;
}
.registration_password_label {
  // text-align:right;
  margin-top: 7px;
  padding-left: 150px;
  grid-column:1;
  grid-row:3;
}
.registration_password_box {
  // margin-bottom: 5px;
  // margin-top:20px;
  // margin: 5px;
  grid-column: 2;
  grid-row: 3;
}
.registration_fname_label {
  // text-align:right;
  margin-top: 7px;
  padding-left: 150px;
  grid-column:1;
  grid-row:4;
  white-space:nowrap;
}
.registration_fname_box {
  // margin-bottom: 5px;
  // margin-top:20px;
  // margin: 5px;
  grid-column: 2;
  grid-row: 4;
}
.registration_lname_label {
  // text-align:right;
  margin-top: 7px;
  padding-left: 150px;
  grid-column:1;
  grid-row:5;
  white-space:nowrap;
}
.registration_lname_box {
  // margin-bottom: 5px;
  // margin-top:5px;
  // margin: 5px;
  grid-column: 2;
  grid-row: 5;
}
.registration_register_button {
  padding-top: 15px;
  padding-bottom: 15px;
  grid-column: 2;
  grid-row: 6;
}
